@font-face {
    src: url('../font/pixelmix.ttf');
}



.button, button:hover {
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "pixelmix";
    -fx-text-fill: linear-gradient(#ffffff, #d0d0d0);
    -fx-font-size: 16px;
    -fx-padding: 5;
    -fx-margin: 50;
}

.colorPicker{
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "pixelmix";
    -fx-text-fill: linear-gradient(#ffffff, #d0d0d0);
}

.customizeContent{
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(117, 143, 255,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,1,2,0;
}

.ruleContent{

    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 100%, #1f2429 80%, #191d22 0%),
            linear-gradient(#191d22, #20262b),
            radial-gradient(center 50% 100%, radius 100%, rgba(117, 143, 255,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,1,2,0;

}


.text{
    -fx-font-size: 16px;
    -fx-fill: white;
    -fx-font-family: "pixelmix";
}

.titleText{
    -fx-font-size: 36px;
    -fx-fill: #b8e7ff;
    -fx-font-family: "pixelmix";
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:3px;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected .box {
    -fx-background-color: #29402f;
}
.combo-box .list-cell
{
    -fx-background-color: #29402f;
    -fx-text-fill: black;
}

.combo-box-popup .list-view
{
    -fx-background-color: #29402f;
}

.combo-box-popup .list-view .list-cell
{
    -fx-background-color: #29402f;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background-color: #2d613a;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #06b836;
}


.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}


#cellPercentAliveLabel, #iterationLabel{
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(117, 143, 255,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,1,2,0;
}


.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: #090a0c;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: #38424b;
}

.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    -fx-background-color: #38424b;
}